<html>

<% include ../includes/head %>

<body>
  <div>
    <% include ../includes/nav %>
    <div class="jumbotron">
      <p>
        Put detail description about you and your company.
      </p>
    </div>
  </div>
</body>

</html>