<!-- views/pages/index.ejs -->

<!doctype html>
<html lang="en">
<% include ../includes/head %>
<body>
<% include ../includes/nav %>

<div class="jumbotron">
<p>
This is place to put content. You can put slider, short description about your website and place some links for navigation.
</p>
</div>
</body>
</html>